$red-color: #ed4343;
$red-font: 'Roboto Slab', serif;

.report-page {
  @extend %base-page-style;
}

.report-form {
  padding: 0 2rem;
}

.alien-select {
  @extend %base-dropdown-style;
  margin-bottom: 2rem;

  option {
    background-color: #FFF;
  }
}

.alien-action {

  textarea {
    font-family: 'Roboto';
    font-size: 1.15rem;
    width: 100%;
    border: 0;
  }

  textarea::placeholder {
    color: $red-color;
  }
}

.submit-report-button {
  @extend %base-button-style;
  margin-top: 6rem;
}
