/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

$main-color: #007e48;
$red-color: #ed4343;
$red-font: 'Roboto Slab', serif;

html, body {
  background-color: #000;
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $red-font;
  overflow: hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red {
  color:$red-color;
}

.welcome {

	height: 100vh;

	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;

	img { width: 42%; }
  h1  { text-align:center; }

}

// My Added Styles

.page-header {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  background: #FFF;
  height: 75px;
  border-bottom: 3px solid $main-color;

  p {
    font-size: 1rem;
    color: #000;
    text-align: left;
  }

  span {
    font-family: 'Green_Lantern';
    color: #007e48;
  }
  img {
    height: 3rem;
    width: 3rem;
    padding: 0 1rem;
  }
}

%base-page-style {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #FFF;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

.page-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding: 0 2rem;

  span {
    display: block;
    font-size: 1.25rem;
  }
}

%base-button-style {
  font-family: 'Green_Lantern', sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
  background-color: #000;
  color: #FFF;
  width: 100%;
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
  letter-spacing: 0.1rem;

  &:focus{
    outline-color: #007e48;
  }
}

%base-input-style {
  background-color: #000;
  color: $main-color;
  font-size: 1.15rem;
  height: 2rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #FFF;
  text-indent: 0.5rem;

  &:focus{
    outline-color: #007e48;
  }
}

%base-dropdown-style {
  background-color: #000;
  color: $main-color;
  font-size: 1.15rem;
  height: 2rem;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #FFF;
  appearance: none;
  text-indent: 0.5rem;

  &:focus{
    outline-color: #007e48;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
