// Enter Button Animation

@keyframes button-pulse {
  0% {
    box-shadow:
      0 0 0 1rem rgba(0, 0, 0, 0),
      0 0 0 2rem rgba(0, 0, 0, 0),
      0 0 0 3rem rgba(0, 0, 0, 0)
  }
  10% {
    box-shadow:
      0 0 0 1.1rem rgba(0, 0, 0, 0.5),
      0 0 0 2.25rem rgba(0, 0, 0, 0),
      0 0 0 3.25rem rgba(0, 0, 0, 0)
  }
  30% {
    box-shadow:
      0 0 0 1.25rem rgba(0, 0, 0, 0.75),
      0 0 0 2.5rem rgba(0, 0, 0, 0.25),
      0 0 0 3.5rem rgba(0, 0, 0, 0)

  }
  50% {
    box-shadow:
      0 0 0 1.5rem rgba(0, 0, 0, 0.75),
      0 0 0 2.75rem rgba(0, 0, 0, 0.5),
      0 0 0 3.75rem rgba(0, 0, 0, 0.1)

  }
   70% {
    box-shadow:
      0 0 0 1.25rem rgba(0, 0, 0, 0.75),
      0 0 0 2.5rem rgba(0, 0, 0, 0.25),
      0 0 0 3.5rem rgba(0, 0, 0, 0)

  }
  90%{
    box-shadow:
      0 0 0 1.1rem rgba(0, 0, 0, 0.5),
      0 0 0 2.25rem rgba(0, 0, 0, 0),
      0 0 0 3.25rem rgba(0, 0, 0, 0)
  }

  100% {
    box-shadow:
      0 0 0 1rem rgba(0, 0, 0, 0),
    	0 0 0 2rem rgba(0, 0, 0, 0),
    	0 0 0 3rem rgba(0, 0, 0, 0),
    }
  }

// Form Feedback Animations

@keyframes invalid {
  0% { border: 1px solid transparent}
  100% { border: 1px solid #FFF011 }
}

.invalid {
  input, select, textarea {
    &.ng-invalid {
      animation: invalid 1s infinite;
    }
  }
}

// Page Transition Animations

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
}
// .ng-enter is the start point of animation on page load
[ui-view].ng-enter {
  .home & {
    opacity: 0;
  }

  .check-in & {
    opacity: 0;
    transform: translate(0, -500px);
  }

  .encounters & {
    opacity: 0;
    transform: translate(500px, 0);
  }

  .report & {
    opacity: 0;
    transform: translate(-500px, 0);
  }
}
// .ng-enter-active is the end point of animation on page load
[ui-view].ng-enter-active {
  .home & {
    opacity: 1;
  }

  .check-in & {
    opacity: 1;
    transform: translate(0, 0);
  }

  .encounters & {
    opacity: 1;
    transform: translate(0, 0);
  }

  .report & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
// .ng-leave is the start point of animation on page exit
[ui-view].ng-leave {
  .home & {
    opacity: 1;
  }

  .check-in & {
    opacity: 1;
    transform: scale(1, 1);
  }

  .encounters & {
    opacity: 1;
    transform: translate(0, 0);
  }

  .report & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
// .ng-leave is the end point of animation on page exit
[ui-view].ng-leave-active {
  .home & {
    opacity: 0;
  }

  .check-in & {
    opacity: 0;
    transform: scale(0, 0);
  }

  .encounters & {
    opacity: 0;
    transform: translate(-500px, 0);
  }

  .report & {
    opacity: 0;
    transform: translate(500px, 0);
  }
}
