.check-in-page {
  @extend %base-page-style;
  h1 {
    padding: 2rem;
    margin: 0;
  }

}

.check-in-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 2rem;

  input {
    @extend %base-input-style;

  }

  input::placeholder {
    color: #007e48;
  }

  fieldset {
    display: flex;
    flex: 1;
    border: 0;
  }

}

.job-select {
  @extend %base-dropdown-style;

  option {
    background-color: #FFF;
  }
}

.check-in-button {
  @extend %base-button-style;
}
