.report-page {
  @extend %base-page-style;
}

.report-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 2rem;

  fieldset {
    flex: 1;
    border: 0;
  }
}

.alien-select {
  @extend %base-dropdown-style;
  margin-bottom: 1rem;

  &:focus{
    outline-color: #007e48;
  }

  option {
    background-color: #FFF;
  }
}

.alien-action {

  textarea {
    font-family: 'Roboto';
    font-size: 1.15rem;
    width: 100%;
    padding: 0;
    border: 0;
    resize: none;

    &:focus{
      outline-color: #007e48;
    }
  }

  textarea::placeholder {
    color: #007e48;
  }
}

.submit-report-button {
  @extend %base-button-style;

}
