$red-color: #ed4343;
$red-font: 'Roboto Slab', serif;

.check-in-page {
  @extend %base-page-style;

  button { margin-top: 9rem; }
}

.check-in-form {
  padding: 0 2rem;

  input {
    @extend %base-input-style;
  }

  input::placeholder {
    color: $red-color;
  }

}

.job-select {
  @extend %base-dropdown-style;

  option {
    background-color: #FFF;
  }
}

.check-in-button {
  @extend %base-button-style;
}
