<div class="check-in">
  <h1 class="register-header">Register</h1>

  <div class="check-in-form">

    <input type="text" placeholder="Name" ng-model="colonist.name"/><br />
    <input type="number" placeholder="Age" ng-model="colonist.age"/><br />

    <div class="">
      <select class="job-select" name="joblist" ng-model="colonist.job_id">
        <option value="">Select Occupation</option>
        <option value="{{ job.id }}" ng-repeat="job in joblist">{{ job.name }}</option>

      </select>
    </div>

    <button class="check-in-button" ng-click="login($event)">Check in</button>
  </div>

</div>
